AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
LEX_BOT_NAME=your_lex_bot_name
LEX_BOT_ALIAS=your_lex_bot_alias
LEX_USER_ID=fastapi-user
MAKE_PRODUCT_URL="http://makeup-api.herokuapp.com/api/v1/products.json"
MAKEUP_PRODUCT_URL="http://makeup-api.herokuapp.com/api/v1/products.json"
GRADIO_BACKEND_URL="http://127.0.0.1:8000"